alias ec='emacsclient'
alias ecc='emacsclient -c'
alias e='emacs'
#alias emacs='t'
alias open='thunar'
alias magit='ec -e "(magit-status \"$(pwd)\")"'
alias homegit="GIT_DIR=~/unixconf/ GIT_WORK_TREE=~ git"
alias gc='git clone'

